<h2>Colors</h2>
<ul class="row unstyled">
	<li>
		<span class="black"></span> .black
	</li>
	<li>
		<span class="white"></span> .white
	</li>
	<li>
		<span class="gray"></span> .gray
	</li>
	<li>
		<span class="light-gray"></span> .light-gray
	</li>
	<li>
		<span class="lighter-gray"></span> .lighter-gray
	</li>
	<li>
		<span class="lightest-gray"></span> .lightest-gray
	</li>
	<li>
		<span class="dark-gray"></span> .dark-gray
	</li>
	<li>
		<span class="darker-gray"></span> .darker-gray
	</li>
	<li>
		<span class="darkest-gray"></span> .darkest-gray
	</li>
	<li>
		<span class="primary"></span> .primary
	</li>
	<li>
		<span class="light-primary"></span> .light-primary
	</li>
	<li>
		<span class="dark-primary"></span> .dark-primary
	</li>
	<li>
		<span class="secondary"></span> .secondary
	</li>
	<li>
		<span class="light-secondary"></span> .light-secondary
	</li>
	<li>
		<span class="dark-secondary"></span> .dark-secondary
	</li>
	<li>
		<span class="alert"></span> .alert
	</li>
	<li>
		<span class="success"></span> .success
	</li>
	<li>
		<span class="primary-compliment"></span> .primary-compliment
	</li>
	<li>
		<span class="secondary-compliment"></span> .secondary-compliment
	</li>
	<li>
		<span class="primary-triad-warm"></span> .primary-triad-warm
	</li>
	<li>
		<span class="primary-triad-cool"></span> .primary-triad-cool
	</li>
</ul>