<h2>Wells</h2>
<div class="row">
	<div class="col6">
		<div class="well">
			<h1>.well</h1>
			<p>Lorizzle ipsum dolor gangster amizzle, consectetizzle adipiscing elit. You son of a bizzle sapien velizzle, daahng dawg volutpat, nizzle mah nizzle, check it out i saw beyonces tizzles and my pizzle went crizzle, arcu. Ma nizzle eget sizzle. Sizzle eros. Mammasay mammasa mamma oo sa at dolor dapibizzle yippiyo tempizzle sizzle. Mofo pellentesque brizzle et turpizzle. Funky fresh izzle tellivizzle.</p>
		</div>
	</div>
	<div class="col6">
		<div class="well invert">
			<h1>.well.invert</h1>
			<p>Lorizzle ipsum dolor gangster amizzle, consectetizzle adipiscing elit. You son of a bizzle sapien velizzle, daahng dawg volutpat, nizzle mah nizzle, check it out i saw beyonces tizzles and my pizzle went crizzle, arcu. Ma nizzle eget sizzle. Sizzle eros. Mammasay mammasa mamma oo sa at dolor dapibizzle yippiyo tempizzle sizzle. Mofo pellentesque brizzle et turpizzle. Funky fresh izzle tellivizzle.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col3">
		<div class="well">
			<h1>.well</h1>
			<p>Lorizzle ipsum dolor gangster amizzle, consectetizzle adipiscing elit. You son of a bizzle sapien velizzle, daahng dawg volutpat, nizzle mah nizzle, check it out i saw beyonces tizzles and my pizzle went crizzle, arcu. Ma nizzle eget sizzle. Sizzle eros. Mammasay mammasa mamma oo sa at dolor dapibizzle yippiyo tempizzle sizzle. Mofo pellentesque brizzle et turpizzle. Funky fresh izzle tellivizzle.</p>
		</div>
	</div>
	<div class="col3">
		<div class="well invert">
			<h1>.well.invert</h1>
			<p>Lorizzle ipsum dolor gangster amizzle, consectetizzle adipiscing elit. You son of a bizzle sapien velizzle, daahng dawg volutpat, nizzle mah nizzle, check it out i saw beyonces tizzles and my pizzle went crizzle, arcu. Ma nizzle eget sizzle. Sizzle eros. Mammasay mammasa mamma oo sa at dolor dapibizzle yippiyo tempizzle sizzle. Mofo pellentesque brizzle et turpizzle. Funky fresh izzle tellivizzle.</p>
		</div>
	</div>
	<div class="col3">
		<div class="well">
			<h1>.well</h1>
			<p>Lorizzle ipsum dolor gangster amizzle, consectetizzle adipiscing elit. You son of a bizzle sapien velizzle, daahng dawg volutpat, nizzle mah nizzle, check it out i saw beyonces tizzles and my pizzle went crizzle, arcu. Ma nizzle eget sizzle. Sizzle eros. Mammasay mammasa mamma oo sa at dolor dapibizzle yippiyo tempizzle sizzle. Mofo pellentesque brizzle et turpizzle. Funky fresh izzle tellivizzle.</p>
		</div>
	</div>
	<div class="col3">
		<div class="well">
			<h1>.well</h1>
			<p>Lorizzle ipsum dolor gangster amizzle, consectetizzle adipiscing elit. You son of a bizzle sapien velizzle, daahng dawg volutpat, nizzle mah nizzle, check it out i saw beyonces tizzles and my pizzle went crizzle, arcu. Ma nizzle eget sizzle. Sizzle eros. Mammasay mammasa mamma oo sa at dolor dapibizzle yippiyo tempizzle sizzle. Mofo pellentesque brizzle et turpizzle. Funky fresh izzle tellivizzle.</p>
		</div>
	</div>
</div>