<h2>Typography</h2>

<div class="row">
	<h1>This is an H1</h1>
	<h2>This is an H2</h2>
	<h3>This is an H3</h3>
	<h4>This is an H4</h4>
	<h5>This is an H5</h5>
	<h6>This is an H6</h6>
	<div class="col6">
		<p>This is a paragraph.</p>
		<p>Lorizzle ipsum dolor gangster amizzle, consectetizzle adipiscing elit. You son of a bizzle sapien velizzle, daahng dawg volutpat, nizzle mah nizzle, check it out i saw beyonces tizzles and my pizzle went crizzle, arcu. Ma nizzle eget sizzle. Sizzle eros. Mammasay mammasa mamma oo sa at dolor dapibizzle yippiyo tempizzle sizzle. Mofo pellentesque brizzle et turpizzle. Funky fresh izzle tellivizzle. Pellentesque eleifend rhoncizzle . In hac habitasse platea gangsta. Funky fresh dapibizzle. Tellivizzle tellus urna, pretium shiznit, mah nizzle ac, eleifend vitae, nunc. Stuff suscipizzle. Integer sempizzle velizzle gangster fo shizzle.</p>
	</div>
</div>